
.uploadinput input[type=text],
.uploadinputinput[type=file]{
	color: #777;
	padding-left: 10px;
	margin: 10px;
	margin-top: 12px;
	margin-left: 18px;
	width: 410px;
	height: 35px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}
.uploadinput input[type=text]:hover{
	border: 1px solid #b6bfc0;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}
.uploadinput input[type=text]:focus,
.uploadinput input[type=file]{
	border: 1px solid #a8c9e4;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

.uploadlabel label {
	color: #555;
	display: inline-block;
	margin-top: 10px;
	padding-top: 10px;
	font-size: 14px;
	float:left;
}

.uploadlabel{
    margin-left: 30px;
}

#id_ftitle{
    margin-left: 34px;
}
